input {
    keyboard {
        repeat-delay 250
        repeat-rate 100
        xkb {
            layout "us"
            options "compose:ralt"
        }
        numlock
    }

    touchpad {
    }

    mouse {
    }

    trackpoint {
        off
    }
    focus-follows-mouse max-scroll-amount="10%"
    workspace-auto-back-and-forth
}
